@using Serilog.Dashboard.Provider
@using Serilog.Dashboard.Provider.Extensions

<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <colgroup>
            <col style="width: 30px" />
            <col style="width: 30px" />
            <col style="width: 200px" />
            <col style="width: 120px" />
            <col style="" />
            <col style="" />
        </colgroup>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Date</th>
                <th scope="col">Level</th>
                <th scope="col">Message</th>
                <th scope="col">Source</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Logs ?? [])
            {
                <tr @key="@(log.RowKey + "-grid")">
                    <td style="text-align: center;">
                        <a class="d-block"
                           data-bs-toggle="collapse"
                           href="#collapse-@log.RowKey"
                           role="button"
                           aria-expanded="false"
                           aria-controls="collapse-@log.RowKey">
                            <i class="bi bi-caret-right-fill"></i>
                            <i class="bi bi-caret-down-fill"></i>
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <IconSelector Name="@log.Level" />
                    </td>
                    <td title="@log.Timestamp?.ToLocalTime().ToString("F")">
                        @log.Timestamp?.ToLocalTime().ToString("HH:mm:ss.fff")
                    </td>
                    <td>@log.Level</td>
                    <td>@log.RenderedMessage</td>
                    <td>@log.SourceContext</td>
                </tr>
                <tr @key="@(log.RowKey + "-detail")"
                    id="collapse-@log.RowKey"
                    class="collapse"
                    style="background-color: #f9f9f9;">
                    <td colspan="6">
                        <ul id="tablist-logEvent-@log.RowKey"
                            class="nav nav-tabs"
                            role="tablist">
                            <li class="nav-item"
                                role="presentation">
                                <button id="tab-link-logEvent-properties-@log.RowKey"
                                        class="nav-link active"
                                        data-bs-toggle="tab"
                                        data-bs-target="#tab-pane-logEvent-properties-@log.RowKey"
                                        type="button"
                                        role="tab"
                                        aria-controls="tab-pane-logEvent-properties-@log.RowKey"
                                        aria-selected="true">
                                    Properties
                                </button>
                            </li>
                            @if (log.Exception.HasValue())
                            {
                                <li class="nav-item"
                                    role="presentation">
                                    <button id="tab-link-logEvent-exception-@log.RowKey"
                                            class="nav-link"
                                            data-bs-toggle="tab"
                                            data-bs-target="#tab-pane-logEvent-exception-@log.RowKey"
                                            type="button"
                                            role="tab"
                                            aria-controls="tab-pane-logEvent-exception-@log.RowKey"
                                            aria-selected="true">
                                        Exception
                                    </button>
                                </li>
                            }
                        </ul>
                        <div id="tab-content-logEvent-@log.RowKey"
                             class="tab-content">
                            <div class="tab-pane fade show active"
                                 id="tab-pane-logEvent-properties-@log.RowKey"
                                 role="tabpanel"
                                 aria-labelledby="tab-link-logEvent-properties-@log.RowKey"
                                 tabindex="0">
                                <!-- Properties Tab Panel Content -->
                                <JsonDisplay Json="@log.Data" />
                            </div>
                            @if (log.Exception.HasValue())
                            {
                                <div class="tab-pane fade"
                                     id="tab-pane-logEvent-exception-@log.RowKey"
                                     role="tabpanel"
                                     aria-labelledby="tab-link-logEvent-exception-@log.RowKey"
                                     tabindex="0">
                                    <!-- Exception Tab Panel Content -->
                                    <pre style="max-height: 400px; max-width: calc(100vw - 4em);">@log.Exception</pre>
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter, EditorRequired]
    public required IReadOnlyCollection<LogEvent>? Logs { get; set; }
}
